<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll 
    you have to update the registry information in this file!!!!
    either by run Collect.bat and inserting everything between <Component> and </Component> or 
    by simply replacing the AssemblyVersion with the correct value (multiple times)
         
  
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file IfManAddin.dll -ag -template fragment -out IfMan_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - IfManGui.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="IfManGui.dll" Source="$(var.IfManGui.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
     a component has to define a GUID (default: without)
     <Component Id="cmp3A3458B703A72A26F4C6F14C974120B4" Guid="{E72BAA6B-3061-42B3-AD08-5B0215E95422}">
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
     <!-- Register for EA, use content of  [ProgId("IfManRoot.Root")] as value -->
      <Component Id="RegisterEA" Guid="2CB859A3-1B26-4D5D-9BC5-EC9F42FC6A4C">
        <RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\IfManager">
          <RegistryValue Type="string" Value="IfManRoot.IfManRoot" KeyPath="yes" />
        </RegistryKey>
      </Component>
    
      <!--
      Generated by Script Collect.Bat
      Replace source by:
      - Name="IfManRoot.dll" Source="$(var.IfManRoot.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      
      Make sure: Guid="{...}" contains a valid GUID
      -->
      <Component Id="cmp3A3458B703A72A26F4C6F14C974120B4" Guid="{E72BAA6B-3061-42B3-AD08-5B0215E95422}">
                 <Class Id="{9DB59F66-C4CD-4188-9388-2053C29AA0D7}" Context="InprocServer32" Description="IfManRoot.IfManRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManRoot.IfManRoot" Description="IfManRoot.IfManRoot" />
                </Class>
                <File Id="fil502AE42511ADE6CBC01F37213CE9A8C8" KeyPath="yes" Source="$(var.IfManRoot.TargetPath)" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="Class" Value="IfManRoot.IfManRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="Class" Value="IfManRoot.IfManRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
            </Component>
    

    <!--
      Generated by Script Collect.Bat
      Replace source by:
      - Name="IfManGui.dll" Source="$(var.IfManGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      
      Make sure: Guid="{...}" contains a valid GUID
      -->
      <Component Id="cmp7D0118B2275DAA84E8EB0AF50175978E" Guid="{614A8FDE-8BCA-46EE-A092-759D49FA1F82}">
                <Class Id="{00826A14-89DE-4702-B998-E0F144DFA8C5}" Context="InprocServer32" Description="IfManGui.IfManGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.IfManGui" Description="IfManGui.IfManGui" />
                </Class>
                <Class Id="{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}" Context="InprocServer32" Description="IfManGui.Settings.Setting" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.Settings.Setting" Description="IfManGui.Settings.Setting" />
                </Class>
                <Class Id="{9394B05F-3AF9-386A-BE06-B234E8C66712}" Context="InprocServer32" Description="IfManGui.Settings.SettingItem" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.Settings.SettingItem" Description="IfManGui.Settings.SettingItem" />
                </Class>
                <File Id="filECBCF5EE510C49670F0E5BF304FF27D9" KeyPath="yes" Source="$(var.IfManGui.TargetPath)" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.IfManGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="Class" Value="IfManGui.IfManGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="Class" Value="IfManGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="Class" Value="IfManGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
       </Component>
       <Component Id="IfManUtil" Guid="{69D6F55F-2B5D-47A5-AE3C-008CFB1C1DC8}">
        <File Id="IfManUtil" KeyPath="yes" Name="IfManUtil.dll" Source="$(var.IfManUtil.TargetPath)" />
      </Component>
        

      <Component Id="Readme.md" Guid="{FCC87859-37D9-412C-B55B-140D91B78C89}">
        <File Id="Readme.md" KeyPath="yes" Name="Readme.md" Source="..\IfManSetup\Readme.md" />
      </Component>
      <Component Id="Settings.json" Guid="{44F86D42-2EA3-4A01-9A8B-71CD08A774D7}">
            <File Id="Settings.json" KeyPath="yes" Name="Settings.json" Source="..\IfManRoot\Settings.json" />
      </Component>
        
        <Component Id="Newtonsoft.Json.dll" Guid="{BB898062-ACA5-479C-9EA8-204E3659ECFD}">
            <File Id="Newtonsoft.Json.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" Source="..\packages\Newtonsoft.Json.11.0.1\lib\net45\Newtonsoft.Json.dll" />
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>