<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll 
    you have to update the registry information in this file!!!!
    either by run Collect.bat and inserting everything between <Component> and </Component> or 
    by simply replacing the AssemblyVersion with the correct value (multiple times)
         
  
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file IfManAddin.dll -ag -template fragment -out IfMan_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - hoAddinTemplate.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="hoAddinTemplate.dll" Source="$(var.hoAddinTemplate.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
     a component has to define a GUID (default: without)
     <Component Id="cmp3A3458B703A72A26F4C6F14C974120B4" Guid="{E72BAA6B-3061-42B3-AD08-5B0215E95422}">
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
     <!-- Register for EA, use content of  [ProgId("hoAddinTemplateRoot.Root")] as value -->
      <Component Id="RegisterEA" Guid="CDE8CBCC-AA1C-49FE-AAA2-9C79C3AACE13">
        <RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\hoAddinTemplate">
          <RegistryValue Type="string" Value="hoAddinTemplate.Root" KeyPath="yes" />
        </RegistryKey>
      </Component>
    
      <!--
      Generated by Script Collect.Bat
      Replace source by:
      - Name="hoAddinTemplateRoot.dll" Source="$(var.hoAddinTemplateRoot.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      
      Make sure: Guid="{...}" contains a valid GUID
      Make sure: Version=Value from AssemblyVersion  ([assembly: AssemblyVersion("1.0.0.0")])
      -->
      <Component Id="cmpB6D489B987D10BCE902E8A00C2049269" Guid="{4907CD5A-EAF4-49FA-99AF-F961BC69DB1E}">
                <Class Id="{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}" Context="InprocServer32" Description="hoAddinTemplateRoot.Root" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoAddinTemplate.Root" Description="hoAddinTemplateRoot.Root" />
                </Class>
                <File Id="filA7D7FAB56C29CAC3ACB3133B96BA6FC0" KeyPath="yes" Source="$(var.hoAddinTemplateRoot.TargetPath)" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32\1.0.0.0" Name="Class" Value="hoAddinTemplateRoot.Root" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32\1.0.0.0" Name="Assembly" Value="hoAddinTemplateRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filA7D7FAB56C29CAC3ACB3133B96BA6FC0]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32" Name="Class" Value="hoAddinTemplateRoot.Root" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32" Name="Assembly" Value="hoAddinTemplateRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7FFFBAAB-EC10-4937-AA0D-E355DC97089B}\InprocServer32" Name="CodeBase" Value="file:///[#filA7D7FAB56C29CAC3ACB3133B96BA6FC0]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="hoAddinTemplateRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#filA7D7FAB56C29CAC3ACB3133B96BA6FC0]" Type="string" Action="write" />
            </Component>
    

    <!--
      Generated by Script Collect.Bat
      Replace source by:
      - Name="hoAddinTemplateGui.dll" Source="$(var.hoAddinTemplateGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      
      Make sure: Guid="{...}" contains a valid GUID
      Make sure: Version=Value from AssemblyVersion  ([assembly: AssemblyVersion("1.0.0.0")])
      -->
      <Component Id="cmpC6D01E7DDF261D4B7ED8EB7464A79DDA" Guid="{79A0DF9E-7951-4FDB-82D7-B79D9BA6D394}">
               <Class Id="{258C4CBD-F54D-320E-97F4-74DBE4183D35}" Context="InprocServer32" Description="hoAddinTemplateGui.Settings.Setting" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoAddinTemplateGui.Settings.Setting" Description="hoAddinTemplateGui.Settings.Setting" />
                </Class>
                <Class Id="{358015AA-734E-4E27-B518-D6C71903EC4E}" Context="InprocServer32" Description="hoAddinTemplateGui.Gui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoAddinTemplate.Gui" Description="hoAddinTemplateGui.Gui" />
                </Class>
                <Class Id="{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}" Context="InprocServer32" Description="hoAddinTemplateGui.Settings.SettingItem" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoAddinTemplateGui.Settings.SettingItem" Description="hoAddinTemplateGui.Settings.SettingItem" />
                </Class>
                <File Id="fil3A411413189977C069FFA1573C096A09" KeyPath="yes" Source="$(var.hoAddinTemplateGui.TargetPath)" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32\1.0.0.0" Name="Class" Value="hoAddinTemplateGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32\1.0.0.0" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32" Name="Class" Value="hoAddinTemplateGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{258C4CBD-F54D-320E-97F4-74DBE4183D35}\InprocServer32" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32\1.0.0.0" Name="Class" Value="hoAddinTemplateGui.Gui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32\1.0.0.0" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32" Name="Class" Value="hoAddinTemplateGui.Gui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{358015AA-734E-4E27-B518-D6C71903EC4E}\InprocServer32" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32\1.0.0.0" Name="Class" Value="hoAddinTemplateGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32\1.0.0.0" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32" Name="Class" Value="hoAddinTemplateGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32" Name="Assembly" Value="hoAddinTemplateGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4AD2A3F4-E640-337E-B4E6-C3A539FFE1E2}\InprocServer32" Name="CodeBase" Value="file:///[#fil3A411413189977C069FFA1573C096A09]" Type="string" Action="write" />
       </Component>
       <Component Id="hoAddinTemplateUtil" Guid="{858BFB32-06AA-461C-8720-ACA7D9FA29D0}">
        <File Id="hoAddinTemplateUtil" KeyPath="yes" Name="hoAddinTemplateUtil.dll" Source="$(var.hoAddinTemplateUtil.TargetPath)" />
      </Component>
        

      <Component Id="Readme.md" Guid="{FCC87859-37D9-412C-B55B-140D91B78C89}">
        <File Id="Readme.md" KeyPath="yes" Name="Readme.md" Source="..\hoAddinTemplateSetup\Readme.md" />
      </Component>
      <Component Id="Settings.json" Guid="{658A1308-A893-4F40-B881-37A206D87947}">
            <File Id="Settings.json" KeyPath="yes" Name="Settings.json" Source="..\hoAddinTemplateRoot\Settings.json" />
      </Component>
        
        <Component Id="Newtonsoft.Json.dll" Guid="{ADDC2E42-250E-49A2-869A-52C7AD476E49}">
            <File Id="Newtonsoft.Json.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" Source="..\packages\Newtonsoft.Json.11.0.1\lib\net45\Newtonsoft.Json.dll" />
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>