<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp7D0118B2275DAA84E8EB0AF50175978E" Guid="*">
                <Class Id="{00826A14-89DE-4702-B998-E0F144DFA8C5}" Context="InprocServer32" Description="IfManGui.IfManGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.IfManGui" Description="IfManGui.IfManGui" />
                </Class>
                <Class Id="{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}" Context="InprocServer32" Description="IfManGui.Settings.Setting" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.Settings.Setting" Description="IfManGui.Settings.Setting" />
                </Class>
                <Class Id="{9394B05F-3AF9-386A-BE06-B234E8C66712}" Context="InprocServer32" Description="IfManGui.Settings.SettingItem" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManGui.Settings.SettingItem" Description="IfManGui.Settings.SettingItem" />
                </Class>
                <File Id="filECBCF5EE510C49670F0E5BF304FF27D9" KeyPath="yes" Source="SourceDir\release\IfManGui.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.IfManGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="Class" Value="IfManGui.IfManGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00826A14-89DE-4702-B998-E0F144DFA8C5}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="Class" Value="IfManGui.Settings.Setting" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{15AD2FBD-8F19-386C-81CB-B8FC9FC054AA}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="Class" Value="IfManGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="Class" Value="IfManGui.Settings.SettingItem" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="Assembly" Value="IfManGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9394B05F-3AF9-386A-BE06-B234E8C66712}\InprocServer32" Name="CodeBase" Value="file:///[#filECBCF5EE510C49670F0E5BF304FF27D9]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>