<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp3A3458B703A72A26F4C6F14C974120B4" Guid="*">
                <Class Id="{9DB59F66-C4CD-4188-9388-2053C29AA0D7}" Context="InprocServer32" Description="IfManRoot.IfManRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="IfManRoot.IfManRoot" Description="IfManRoot.IfManRoot" />
                </Class>
                <File Id="fil502AE42511ADE6CBC01F37213CE9A8C8" KeyPath="yes" Source="SourceDir\release\IfManRoot.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="Class" Value="IfManRoot.IfManRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="Class" Value="IfManRoot.IfManRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9DB59F66-C4CD-4188-9388-2053C29AA0D7}\InprocServer32" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="IfManRoot, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#fil502AE42511ADE6CBC01F37213CE9A8C8]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>